
body {
    overscroll-behavior: contain;
}

.topContainer {
    display: flex;
    flex-direction: row;

    .resultsContainer {
        display: flex;
        flex-direction: column;
    }
}

.eventWidget {
    display: flex;
    flex-direction: column;
    margin: .5em;

    button {
        margin-right: .25em;
    }

    .header {
        display: flex;
        flex-direction: row;
        margin: .25em;
    }

    .resultContainer {
        display: flex;
        flex-direction: row;
        margin-left: 1em;
    }
}